trashrc
mimeapps.list
kiorc
filetypesrc
dolphinrc
baloofileinformationrc
zed/
Vencord/
systemd/user/
spotify/
yay/
spicetify/
session/
pulse/
nautilus/
procps/
mozilla/firefox/
menus/applications-merged/
gtk-4.0/
go/telemetry/
discord/
dconf/
chromium/
BraveSoftware/Brave-Browser/
.zed/
