BraveSoftware/Brave-Browser/
chromium/
dconf/
discord/
go/telemetry/
gtk-3.0/
gtk-4.0/
menus/applications-merged/
mozilla/firefox/
nautilus/
procps/
pulse/
session/
spicetify/
spotify/
systemd/user/
Vencord/
yay/
zed/
baloofileinformationrc
dolphinrc
filetypesrc
kiorc
mimeapps.list
trashrc
